<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block title %}
            Baraka - The favorite christian music hub
        {% endblock title %}
    </title>

    <!-- Bootstrap v 3.1.1-->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link href="{{ css_path }}baraka.css" rel="stylesheet" type="text/css">

    {% block stylesheets %}{% endblock %}

</head>
<body>

{% include 'header.html.twig' %}

<div class="container-fluid">
    {% block body %}{% endblock %}
</div>

{% include 'footer.html.twig' %}

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="{{ js_path }}baraka.js"></script>

{% block javascript %}{% endblock %}

</body>
</html>
