<!-- Footer -->
<footer class="bg-dark text-light pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-4 mx-auto">
                <!-- Content -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Today's scripture:</h5>
                <p>
                    Blessed is the one who reads the words of this prophecy, and blessed are
                    those who hear it and take to heart what is written in it, because the time
                    is near - Revelation 1:3
                </p>
            </div>
            <!-- Grid column -->
            <hr class="clearfix w-100 d-md-none">
            <!-- Grid column -->
            <div class="col-md-3 mx-auto">
                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/advertise">Advertise</a></li>
                </ul>
            </div>
            <!-- Grid column -->
            <hr class="clearfix w-100 d-md-none">
            <!-- Grid column -->
            <div class="col-md-3 mx-auto">
                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px;">
                <p><i class="fas fa-home mr-3"></i> Kampala, UG</p>
                <p><i class="fas fa-envelope mr-3"></i> info@baraka.com</p>
                <p><i class="fas fa-phone mr-3"></i> +256 775 714 654</p>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    <!-- Footer Links -->

    <hr>

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
            <a class="btn-floating btn-fb mx-1" target="_blank"
               href="https://web.facebook.com/pius.odatum">
                <i class="fab fa-facebook-f"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-tw mx-1" target="_blank"
               href="https://www.twitter.com/pius_odatum">
                <i class="fab fa-twitter"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-li mx-1" target="_blank"
               href="https://www.linkedin.com/in/reio-santos/">
                <i class="fab fa-linkedin-in"> </i>
            </a>
        </li>
    </ul>
    <!-- Social buttons -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        © 2018 - {{ ''|date('Y') }} Copyright:
        <a href="mailto:ronireiosantos@gmail.com"> ronireiosantos@gmail.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
