<div class="row flex-column d-flex">
    <p class="anim-header bg-dark text-center">
        <b class="text-white">Baraka</b>
        <span>
                Love music, Love Jesus
            </span>
        &mdash; Free mp3 download &mdash;
    </p>
</div>
