<div class="about">
    <h4> Welcome Home</h4>
    <hr style="border: 1px solid #ffffff;">

    <p>We are music lovers and our passion for Jesus is primary. We believe in spreading the word
        through music, ugaent is a trusted source you can download MP3s anytime, anywhere,
        seamlessly.</p>

    <p>Just type in your search query and click the search button.
        The search will take only a short while.
        As soon as we find any results matching your search query - you will get a list of your results. It is that simple</p>

    Thanks for stopping by, have a great day!
</div>
