{% extends 'base.html.twig' %}

{% block body %}

    <div class="topContainer">

    </div>
    <div class="jukeinfo">
        <h1 class="mt-min-4 top-text">Love Music, Love Jesus</h1>
        <br>
        <p>We are music lovers and our passion for Jesus is primary. We believe in spreading the
            word through music.
            <br>
            Like we all love new stuff in our closet, we can't stop listening to that newest song in
            our music library, Baraka is a trusted source you can download MP3s anytime, anywhere,
            seamlessly.
        </p>

        <br>
        Whether worship, praise, dance, party, Baraka offers you one-click high quality MP3
        downloads for free... yikes!!
        <br>
        <br>

        <p>
            Many a time, we relate to our current situation and we draw closer to understand who we
            are in Christ.
            The bond between humans and music is so powerful. So we use music as a tool to create
            the bond between humans and God. And hey! we are here as a channel to preserve the
            bond.
        </p>
        <br>
        With our unlimited collection of songs, Baraka is the best way to get your day started, keep
        the groove on and wind it down later.
        <br>
        <br>
        Thanks for stopping by, have a great day!
    </div>

{% endblock %}
