{% extends 'base.html.twig' %}

{% block body %}

    <div class="holder">
        <h1 class="text-center top-text mt-5 mb-5">How we like to work</h1>

        <p>Got a product or service that will make the life of consumers easier?, then ugaent is the
            right platform to advertise it.
            <br>
            Ugaent has been featured as an authoritative website on the internet to reach the
            Affiliate Marketing, and general Internet Marketing community.
            <br>
            If you want to develop your brand with just one one team - we are your guys!
        <blockquote>We find out exactly what you are about and what you are looking to achieve and
            then help you to achieve it.
            <br>
            We build long lasting relationships with our clients.
            <br>
        </blockquote>

        Getting a placement through banners on ugaent not only increases your clintele but also gets
        you massive brand recognition in the space.
        <br/>

        <h2>Ad Formats:</h2>

        <h4>Top Banner (728 x 90 Leaderboard):</h4>
        Top banners are 728x90 pixels and should not exceed 35Kb in size. They rotate randomly in a
        banner rotator and are displayed in the header of every page.
        <br>
        Banners should not be expandable, flickering, noisy, or disturbing in any way.

        <h4>Wide Skyscraper (160 x 600):</h4>
        Wide Skyscraper banners are 160x600 pixels
        <br>
        Banners should not be expandable, flickering, noisy, or disturbing in any way.
        <br>
        <br>
        Like what you see? Then <a href="/feedback" target="_blank"> <i>Contact</i></a> or
        better still give us a call and we chat through what you need.
        </p>
    </div>

{% endblock %}
