body, html {
    font-family: Arial, Roboto, "Times New Roman", "Courier New", Courier, Verdana, Georgia, serif;
    font-size: 12px;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

nav {
    height: 5em;
}

.form-control:focus {
    box-shadow: none;
}

.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}

.rounded-pill, .rounded-pill input {
    border-radius: 1em !important;
    /*background: #4e555b;*/
}

p.anim-header {
    text-transform: uppercase;
    letter-spacing: .5em;
    color: rgba(255, 255, 255, .25);
    display: inline-block;
    border: 4px double rgba(255, 255, 255, .25);
    border-right-width: 0;
    border-left-width: 0;
    padding: 1.5em 0;
}

p.anim-header span {
    font: 700 4em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255, 255, 255, .5);

    /* Clip Background Image */
    background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;

    /* Animate Background Image */
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;

    /* Activate hardware acceleration for smoother animations */
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}

/* Animate Background Image */
@-webkit-keyframes aitf {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.card:not(.accordion .card) {
    /*margin: 2em;*/
}

.img-thumbnail {
    max-height: 139px;
}

.shadow-3 {
    /*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
    /*box-shadow: 0 5px 5px 0 #000;*/
    /*box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 8px -4px rgba(31, 73, 125, 0.8);*/
    box-shadow: -15px 0 15px -15px inset;
}

.shadow-5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.accordion .card-header {
    padding: 0;
}

.nav-pills .nav-link {
    color: black;
}

.nav-pills .nav-link.active {
    background: #e3601c;
    color: white;
}

.navbar li.active a {
    font-weight: bold;
}

.navbar li:hover {
    color: black;
}

.card-body {
    padding: 0;
}

.about {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    text-align: left;
    background: #EDE4D6;
    border-radius: 15px 0 15px 0;
    padding: 2%;
}

.topContainer {
    height: 300px;
    background-image: url("/app/static/img/juke.jpeg");
    background-size: 870px;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 540px) {
    #topContainer {
        height: 300px;
        width: 100%;
        background-image: url("/app/static/img/juke.jpeg");
        margin-top: 50px;
        background-size: 945px;
        background-repeat: no-repeat;
        background-position: center;
    }
}

h4, h2 {
    margin-top: 30px;
}

.admin h4, .admin h2 {
    margin-top: 0;
}
.mt-min-4 {
    margin-top: -40px;
}

.top-text {
    color: white;
    text-shadow: 1px 1px 2px #000000;
}

.nav-search {
    width: 50%;
}
